body {
    font-family: sans-serif;
}

#front-page {
    display: flex;
    justify-content: flex-start;
    /* background-color: orange; */
}

#grubhublogo {
    height: 700px;
    width: 700px;
}

#multi-row {
    display: flex;
    flex-direction: column;
    width: 700px;
}

#navi {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    padding: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 200px;
    color: #0070EB;
}

#link {
    text-decoration: none;
}

#middletext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

#enterfood {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#orderfood {
    font-size: 50px;
    font-weight: bold;
}

#enterinfo {
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    padding: 15px;
    width: 300px;
}

#findfood {
    align-items: center;
    border: 1px solid #0058B8;
    border-radius: 5px;
    background-color: #0058B8;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
}

#second-page {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding: 50px;
}

#smallimg {
    height: 96px;
    width: 96px;
}